/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.eltdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.eltdf-page-footer .eltdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #fefcf0;
  box-sizing: border-box;
}

.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-alignment-center {
  text-align: center;
}

.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-alignment-left {
  text-align: left;
}

.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-alignment-right {
  text-align: right;
}

.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-inner {
  box-sizing: border-box;
}

.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-inner.eltdf-grid {
  padding: 107px 0 105px;
}

.eltdf-page-footer .eltdf-footer-top-holder .eltdf-footer-top-inner.eltdf-full-width {
  padding: 107px 40px 105px;
}

.eltdf-page-footer .eltdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #fefcf0;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 10px 0;
}

.eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner {
  box-sizing: border-box;
}

.eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner.eltdf-grid {
  padding: 0;
}

.eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner.eltdf-full-width {
  padding: 0 65px 40px;
}

@media only screen and (max-width: 680px) {
  .eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner.eltdf-full-width {
    padding: 0 35px 40px;
  }
}

.eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner .eltdf-grid-row > div {
  border: 1px solid #e1e1e1;
}

@media only screen and (min-width: 1025px) {
  .eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner .eltdf-grid-row > div {
    border-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner .eltdf-grid-row > div {
    margin: 0 0 15px 0;
  }
}

.eltdf-page-footer .eltdf-footer-bottom-holder .eltdf-footer-bottom-inner .eltdf-grid-row > div:first-child {
  border-left: 1px solid #e1e1e1;
}

.no-touch body:not(.error404) .eltdf-page-footer.eltdf-footer-uncover {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.eltdf-right-side-menu-opened .eltdf-page-footer.eltdf-footer-uncover {
  left: -270px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=footer-map.css.map */
